@import '../variables';

.locationsColumn {
  height: 99.5%;
  flex: 0 0 49.2%;
  box-sizing: border-box;
  overflow-y: auto;
  h2 {
    text-align: center;
    font-size: 1.5em;
    margin: 5px 0;
  }
  &::-webkit-scrollbar-track
  {
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar
  {
    width: 10px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
}

.originBox {
  width: 98%;
  border: 1px solid $dark-color;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 0.6rem;
  h3 {
    font-size: 1.2rem;
    margin-bottom: 7px;
  }
  span {
    margin: 5px 0;
    display: block;
    height: auto;
    line-height: 1.35rem;
    font-size: 1.35rem;
    color: blue;
  }
}

.calculateButton {
  width: 98%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0.6rem auto;
  button {
    width: 45%;
    font-size: 1.3rem;
    border-radius: 5px;
  }
}

.outputBox {
  width: 98%;
  border: 1px solid $dark-color;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 10px;
  h3 {
    font-size: 1.2rem;
    margin-bottom: 7px;
  }
}

.resultsTable {
  width: 99%;
  font-family: 'Roboto';
  font-size: 0.95rem;
  box-sizing: border-box;
  position: relative;
  left:0;
  right:0;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid $dark-color;
  color: black;
  thead {
    tr {
      @include playlistTable-rows(#e3e3e3, #d6d6d6, #c8c8c8, #dbdbdb);
    }
  }
  tr {
    padding: 6px;
    border-bottom: 1px solid black;
    @include playlistTable-rows(#ffffff, #f1f1f1, #e1e1e1, #f6f6f6);
    td {
      padding: 3px;
      &:first-child {
        width: 30px;
        text-align: center;
      }
    }
  }
}
