@import '../variables';

.outputBox {
  width: 98%;
  border: 1px solid $dark-color;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 10px;
  h3 {
    font-size: 1.2rem;
    margin-bottom: 7px;
  }
  button {
    width: 105px;
    padding: 0;
    height: 25px;
    margin-bottom: 0.5%;
  }
}

.resultsTable {
  width: 99%;
  font-family: 'Roboto';
  font-size: 0.95rem;
  box-sizing: border-box;
  position: relative;
  left:0;
  right:0;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid $dark-color;
  color: black;
  thead {
    tr {
      @include playlistTable-rows(#e3e3e3, #d6d6d6, #c8c8c8, #dbdbdb);
    }
  }
  tr {
    padding: 6px;
    border-bottom: 1px solid black;
    @include playlistTable-rows(#ffffff, #f1f1f1, #e1e1e1, #f6f6f6);
    td {
      padding: 3px;
      &:first-child {
        width: 30px;
        text-align: center;
      }
    }
  }
}
